body {
    font-family: montserrat, sans-serif;
    background-color: #dde1e7;
  }
  
  .unselectable {
     -moz-user-select: -moz-none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
     -user-select: none;
  }
  
  .span {
    font-family: roboto;
    border: solid;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px;
  }
  
  .button {
    text-transform: uppercase;
    padding: 5px 10px 5px 10px;
    height: 30px;
    border-width: 2px;
    transition-duration: 50ms;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 3px #999;
  }
  
  .button:hover {
    background-color: red;
    color: white;
    box-shadow: 0px 3px #999;
  }
  
  .button:active {
    background-color: #a80000;
    box-shadow: 0px 0px #999;
    transform: translateY(2px);
  }
  
  .button:focus {
    outline: 0;
  }
  
  #ideaRange{
    -webkit-appearance: none;
    cursor: pointer;
    background: red;
    width: 50%;
    height: 5px;
    border-radius: 15px;
    box-shadow: 0px 1px #999;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  #ideaRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 8px solid #bcbcbc;
    height: 25px;
    width: 25px;
    border-radius: 510%;
    background: red;
    cursor: pointer;
    box-shadow: 0px 1px #999;  
  }
  
  #ideaRange:hover {
    opacity: 1;
  }
  
  #ideaRange:focus {
    outline: 0;
  }
  
  .parentFlex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    border: 10px solid red;
    border-radius: 25px;
    padding: 0.5em;
  }
  
  .childFlex {
    height: 33em;
    width: 24em;
    text-align: center;
    margin: 1em;
    margin-bottom: 5em;
  }
  
  .childFlexTop {
    height: 30em;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 25px;
    box-shadow: -5px -5px 10px #ffffffb2, 5px 5px 10px rgba(94, 104, 121, 0.945);
    background-color: edc9c9;
  }
  
  .reveal {
    opacity: 0;
  }
  
  .reveal.animated{
    animation-name: revealElement;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
  
  @keyframes revealElement {
    0% {opacity: 1;}
    5% {opacity: 0;}
    10% {opacity: 1;}
    15% {opacity: 0;}
    20% {opacity: 1;}
    25% {opacity: 0;}
    30% {opacity: 1;}
    35% {opacity: 0;}
    40% {opacity: 1;}
    45% {opacity: 0;}
    50% {opacity: 1;}
    55% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  /* SHOOT AND EDIT PROGRESS CIRCLE */
  
  .progress-holder{
    cursor: pointer;
    margin: auto;
    margin-top: 15px;
    position:relative;
    width:100px;
    height:100px;
    border-radius:50%;
    background:green;
    overflow:hidden;
    box-shadow: -3px -3px 7px #ffffffa6, 3px 3px 5px rgba(94, 104, 121, 0.712);
      position: relative;
  }
  
  .semi-circle{
      width: 100%;
      height: 100%;
      background: inherit;
      border-radius: 50%;
      position:absolute;
      top:0px;
      left:0px;
  }
  
  .left-block{
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      background: #ccc;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
  }
  
  .right-block{
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 50%;
      background: #ccc;
      border-top-right-radius:50%;
      border-bottom-right-radius:50%;
      transform-origin: left center;
  }
  
  .mask{
      width: 80%;
      height: 80%;
      position: absolute;
      left: 10%;
      top: 10%;
      background: #dde1e7;
      border-radius: 50%;
      text-align: center;
    box-shadow: inset -3px -3px 5px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.671);
     }
  
  .mask span{
      color: black;
      font-size: 20px;
      font-family: Arial;
      position: absolute;
      width: 100%;
      text-align: center;
      top: calc(50% - 12px);
      left: calc(0px);
  }
  
  /*
  editClicks {
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
  }
  shootEditcolumn {
    column-count: 11;
    height: 150px;
  }
  */
  #computerMemoryText {
      text-transform: uppercase;
      font-size: 14pt;
      text-align: left;
      margin-left: 20px;
      margin-bottom: -4px;
  }
  
  #memoryCanvas {
      width: 90%;
      height: 90px;
      text-align: center;
      border-radius: 10px;
      background-color: #DDE1E7;
     /* box-shadow: inset 5px 5px 7px #c4aeb0, inset -5px -5px 7px #DDE1E7;*/
      border: solid;
  }
  
  /* END OF SHOOT AND EDIT PROGRESS CIRCLE */
  
  /*Upload bar*/
  #myProgress {
    width: 100%;
    background-color: lightgrey;
    box-shadow: inset -3px -3px 4px #ffffffb0, inset 3px 3px 4px rgba(94, 104, 121, 0.692);
  }
  
  #myBar {
    width: 0%;
    height: 30px;
    background-color: green;
  }
  
  .red {
    color:red;
  }
  
  .green {
    color:green;
  }
  
  /* FOR SUB DIFF */
  
  .subDifferenceClass {
    position: relative;
    color:black;
    opacity:0;
  }
  
  .subDifferenceClass.animatedRed {
    animation-name: animationRed;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }
  
  .subDifferenceClass.animatedGreen {
    animation-name: animationGreen;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }
  
  @keyframes animationRed {
    0%    {bottom:0px;opacity:100;color:red;}
    100%   {bottom:10px;opacity:0;color:red;}
  
  }
  
  @keyframes animationGreen {
    0%    {bottom:0px;opacity:100;color:green;}
    100%   {bottom:10px;opacity:0;color:green;}
  }
  
  /* END OF SUB DIFF */
  
  .callCommentcolor {
    color:black;
  }
  
  .projectCommentcolor {
    color:purple;
  }
  
  .comments {
    margin: 10px;
    padding: 10px;
    text-align:left;
    border-radius: 10px;
    box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
  }
  
  .oldComment {
    opacity: 0.5;
  }
  
  .project {
    height: auto;
    width: 100%;
    padding: 5% 0em 5% 0em;
    text-align: center;
    border-width: 2px;
    transition-duration: 50ms;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 3px #999;
    background-color: red;
    color: white;
  }
  
  .projectTitle {
    font-weight: bold;
    font-size: 1.5vw;
  }
  
  .projectDesc {
    font-size: 1vw;
  }
  
  .project.animated{
    animation-name: revealProject;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
  
  @keyframes revealProject {
    0% {opacity: 1;}
    5% {opacity: 0;}
    10% {opacity: 1;}
    15% {opacity: 0;}
    20% {opacity: 1;}
    25% {opacity: 0;}
    30% {opacity: 1;}
    35% {opacity: 0;}
    40% {opacity: 1;}
    45% {opacity: 0;}
    50% {opacity: 1;}
    55% {opacity: 0;
    background-color: white;
    color:red;}
    100% {opacity: 1;
    color: white;}
  }
